@model DocScanner.Models.RomanianIdRecord

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>RomanianIdRecord</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nume)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nume)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prenume)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prenume)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CNP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CNP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cetatenie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cetatenie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataNasterii)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataNasterii)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Validitate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Validitate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Domiciliu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Domiciliu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Serie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Serie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocNastere)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocNastere)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
